/* basic styling first  */

header img {
    height: 5em;
    margin: 20px 0 20px 20px;
}

.lifted_content_box {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.lifted_content_box div {
    padding: 10px;
    background: #fff;
    border-top: 5px solid #63BEC4; /* was just experimenting. gives a nice look and feel: D */;

}

.dataTables_scrollHead {
height: 37px;
}

/* INPUT ACCORDEON STYLING */

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container > div {
  width: 80%;
  max-width: 1000px;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.network-input {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.input-group > :first-child {
  width: 300px;
  flex-grow: 1;
  margin-right: 10px;
}

.input-group > :nth-child(2) {
  width: 600px;
  flex-grow: 2;
}

.network-input .network-button-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid #666;
    min-height: 50px;
    padding: 0 0 1em 1ex;
}

.network-input .network-button-container.token-over {
    border-style: dashed;
}

.network-input .network-button-container .network-token {
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 1em 1ex 0 1ex;
	padding: 10px;
	user-select: none;
}

.network-input .network-button-container .network-token.inactive {
	opacity: 0.4;
}

.network-input .network-button-container .network-token.selected:first-child {
	background-color: #EAFFF5;
}

/* EXTENSIONS ACCORDEON STYLING */

.network-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.network-overlay {
    display: none;
    z-index: 100000;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.network-overlay .overlay-message {
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: #FFFFFF;
}

.network-overlay .spinner {
    position: absolute;
    top: 250px;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 23px;
}

.network-container {
    flex-basis: 100%;
    border: 1px solid #CCCCCC;
    height: 700px;
    min-width: 0;
}

/* ENRICHMENT STYLING */

#enrichment-wrapper {
    display: flex;
    margin-left: 20px;
    height: 700px;
}

#enrichment-toggler {
    width: 25px;
    height: 100%;
    background-color: #C6E1EC;
}

#enrichment-toggler:hover {
    background-color: #A4C1CA;
}

#enrichment-content {
    width: 275px;
    height: 100%;
    overflow: auto;
}

.enrichment-item {
  margin: 5px 0;
  padding: 0 5px;
  line-height: 1em;
}

.enrichment-item .name {
  display: block;
  font-color: black;
  line-height: 1em;
}

.enrichment-item .id {
  font-size: 10px;
}

.proportion-bar {
  display: inline-block;
  width: 200px;
  height: 10px;
  background-color: lightgrey;
}

.proportion-progress {
  height: 10px;
}

.proportion-progress.network1 {
  background-color: green;
}

.proportion-progress.network2 {
  background-color: orange;
}

.proportion-progress.network3 {
  background-color: blue;
}

.proportion-value {
  padding: 0 0 0 5px;
  font-size: 10px;
}

.network-table-wrapper {
    display: flex;
    justify-content: space-between;
}

.network-table-wrapper div {
    flex-basis: 100%;
}

.network-table-wrapper div table {
    width: 100%;
}

.extension-control {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.extension-control .extension {
    background-color: #EEF7FF;
    margin: 5px;
    padding: 5px;
    max-width: 300px;
}

.extension-legend {
    display: flex;
    flex-direction: column;
}

.extension-legend .edge {
    line-type: solid;
    width: 2px;
    stroke: #878787;
    stroke-width: 2px;
}

.extension-legend .node {
    fill: #BAF8FF;
    stroke: #262626;
}

.accordion{
	width: 100%;
	/*margin: 4x 0px 6px 0px;*/
	text-align: left;
}
  .accordion .accordion-head {
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
        user-select: none;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 24px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 26px;
	font-size: 18px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.accordion .accordion-head:hover{
	background: #fff;
}
.accordion .accordion-head.opened,
.accordion .accordion-head.opened:hover {
	background: #c6e1ec;
	
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.accordion .accordion-head:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_up_y.png) no-repeat center center;	
}

.accordion .accordion-head.collapsed:after{
	background-image: url(../images/arrow_down_y.png);
}
/*.accordion input{
	display: none;
}*/
.accordion .accordion-content {
	background: rgba(255, 255, 255, 0.5);
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.accordion .accordion-content {
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.accordion .accordion-content {
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.accordion .accordion-content.ac-small{
	height: 140px;
}
.accordion .accordion-content.ac-medium{
	height: 180px;
}

.accordion .accordion-content.ac-extra-medium{
	height: auto;
}

.accordion .accordion-content.ac-large{
	height: 620px;
}

.accordion .accordion-content.ac-large-input{
	height: 291px; 
}

/**subtables*/
#sub_table{
	margin-left:22px;
	margin-top:-10px;
	margin-bottom:-20px;
font-style: italic;
color: #777;
line-height: 23px;
font-size: 14px;
padding: 0px;
text-shadow: 1px 1px 1px rgba(255,255,255,0.8);}

	
.loader_color {
				border-style:dotted;
        position: fixed;
		z-index:100000;
  			top: 0px;
			right:0px;
			border-color:#8C2318 #5E8C6A #BFB35A #F2C45A;
      /*  border-color: red green blue orange;*/
				-webkit-animation: revolve 2s linear infinite; 
				-moz-animation: revolve 2s linear infinite;
				animation: revolve 2s linear infinite; /* IE10+ */  
			}
			.small{
				width: 20px;
				height: 20px;
				border-radius: 20px;				
				border-width: 6px;
			}
			.medium {
				position: absolute;
				left: 45%;
				width: 50px;
				height: 50px;
				border-radius: 50px;				
				border-width: 2px;
			}
			.large {
				position: absolute;
				left: 55%;
				width: 100px;
				height: 100px;
				border-radius: 100px;				
				border-width: 3px;				
			} 
			@-webkit-keyframes revolve  
			{  
				from { -webkit-transform: rotate(0deg); }  
				50%  { -webkit-transform: rotate(180deg); }  
				to   { -webkit-transform: rotate(360deg); }  
			}
			@-moz-keyframes revolve  
			{  
				from { -moz-transform: rotate(0deg); }  
				50%  { -moz-transform: rotate(180deg); }  
				to   { -moz-transform: rotate(360deg); }  
			}
			@keyframes revolve  /* IE10+ */
			{  
				from { transform: rotate(0deg); }  
				50%  { transform: rotate(180deg); }  
				to   { transform: rotate(360deg); }  
			}


.loader_color2 {
				border-style:dotted;
        position: fixed;
		z-index:100000;
  		
			border-color:#8C2318 #5E8C6A #BFB35A #F2C45A;
      /*  border-color: red green blue orange;*/
				-webkit-animation: revolve 2s linear infinite; 
				-moz-animation: revolve 2s linear infinite;
				animation: revolve 2s linear infinite; /* IE10+ */  
			}
			.small{
				width: 20px;
				height: 20px;
				border-radius: 20px;				
				border-width: 6px;
			}
			.medium {
				left: 45%;
				width: 50px;
				height: 50px;
				border-radius: 50px;				
				border-width: 12px;
			}
			.large {
				left: 55%;
				width: 100px;
				height: 100px;
				border-radius: 100px;				
				border-width: 3px;				
			} 
			@-webkit-keyframes revolve  
			{  
				from { -webkit-transform: rotate(0deg); }  
				50%  { -webkit-transform: rotate(180deg); }  
				to   { -webkit-transform: rotate(360deg); }  
			}
			@-moz-keyframes revolve  
			{  
				from { -moz-transform: rotate(0deg); }  
				50%  { -moz-transform: rotate(180deg); }  
				to   { -moz-transform: rotate(360deg); }  
			}
			@keyframes revolve  /* IE10+ */
			{  
				from { transform: rotate(0deg); }  
				50%  { transform: rotate(180deg); }  
				to   { transform: rotate(360deg); }  
			}

/* Button 4 */
.btn-4 {
	padding: 5px 16px;
	display: inline-block;
	margin: 3px 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
	font-size: 14px;
	cursor:pointer;
	border-radius: 50px;
	border: 2px solid #fff;
	color: #fff;
	overflow: hidden;
	background:#63BEC4;
}

.btn-4:active {
	border-color: #E49C52;
	color: #fff;
	
}

.btn-4:hover {
	background: #E49C52;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-4:active:before {
	color: #17954c;
}

/* Button 4c */
.btn-4c:before {
	left: 70%;
	opacity: 0;
	top: 0;
}

.btn-4c:hover:before {
	left: 80%;
	opacity: 1;
}

